name: CI/CD do Desafio Final

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: buildando 
    runs-on: ubuntu-latest
  
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build e Push 
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:latest

  
  test:
    name: testando
    needs: build 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Rodar testes unitários
        run: python test_app.py

  
  deploy:
    name: fazendo deploy
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Deploy usando action do Render
        uses: johnbeynon/render-deploy-action@v0.0.3
        with:
          serviceId: srv-d4fppsv5r7bs73bre6kg
          apiKey: ${{ secrets.API_KEY_DEVOPS }}
          clearCache: false

      - name: Acionar Deploy Hook no Render
        run: |
          curl -X POST "${{ secrets.DEPLOY_HOOK }}"